
*{
          padding: 0px;
          margin: 0px;
 }

        body{
          font-family: "Fira Sans", serif;
            font-style: normal;
            background-color: #F1F1F3;
            
        }

        /* Banner  */


        .btn-primary{
          box-sizing: border-box;
        border: 1px solid rgb(0, 106, 80);
        border-radius: 3px;
        width: 80px;
        height: 40px;
        
        }
        nav{
             display: flex;
             align-items: center;
             justify-content: space-between;
             height: 10px;
             max-width: 1250px;
             margin: auto;
             padding: 24px 158px 24px 160px;
           
        }
        nav ul{
          display: flex;
        }
        
        .nav-title{
          font-weight: 700;
        font-size: 22px;
        }
        nav ul li{
                  list-style: none;
               
        }
        nav li a{
                  text-decoration: none;
                  
        }
        .parent{
          
                background-color: #C6E4D6;
                display: flex;
                gap: 60px;
                border-radius: 24px;
                justify-content: center;
                align-items: center;
                height: 430px;
                max-width: 1250px;
                margin: auto;
        
                
                
                
        }
        .banner{
          display: flex;
          align-items: center;
             justify-content: space-between;
             gap: 94px;
             
        }
       
        .banner-title{
          color: rgba(14, 14, 14, 0.5);
          font-family: Fira Sans;
          font-size: 20px;
          line-height: 29px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
        }
        
        .banner-desc{
          color: rgb(14, 14, 14);
        font-family: Fira Sans;
        font-size: 39px;
        font-weight: 800;
        text-align: left;
        height: 165px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        }
        
        .btn-secondary{
          border-radius: 8px;
          background: rgb(0, 106, 80);
          width: 190px;
        height: 36px;
        color: #FFFFFF;
        }

        /* Main Section */

        main {
          max-width: 1250px;
          margin: auto;
        }

      .total-h3{
        font-size: 30px;
        color: #0E0E0E;
        display: flex;
        align-items: start;
        }
        
        .total-p{
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          color: rgba(14, 14, 14, 70%);
          text-align: left;
        }

      .total-h6{
        font-size: 20px;
        font-weight: bold;
        color: #0E0E0E;
        opacity: 80%;
        margin-top: 24px;
      }

      .topic-of-pillars{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 33px;
        gap: 24px;
      
      }

      .content-of-pillar{
        border: 1px solid rgba(14, 14, 14, 15%);
      border-radius: 12px;
      background-color: #FFFFFF;
      padding: 10px;
      width: 300px;
      height: 244px;
      } 

      
/* future-vision */
.future-vision p {
  padding-top: 24px;
}

.future-vision-topic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin: 32px 0;
}

.future-vision-topic .content-1 {
  background-color: rgba(84, 144, 245, 20%);
  border-radius: 16px;
  padding: 33px;
}

.future-vision-topic .content-1 button {
  padding: 11px 20px;
  background-color: #5490F5;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  margin-top: 24px;
}

.future-vision-topic .content-1 button:hover{
  background-color: #FFFFFF;
  color: #5490F5;
}

.future-vision-topic .content-2 {
  background-color: #C6E4D6;
  border-radius: 16px;
  padding: 33px;
}

.future-vision-topic .content-2 button {
  padding: 11px 20px;
  background-color: #09A15C;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  margin-top: 24px;
}
.future-vision-topic .content-2 button:hover{
  background-color: #FFFFFF;
  color: #09A15C;
}

.future-vision-topic .content-3 {
  background-color: #F7EBCF;
  border-radius: 16px;
  padding: 33px;
}

.future-vision-topic .content-3 button {
  padding: 11px 20px;
  background-color: #FFC239;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  margin-top: 24px;
}
.future-vision-topic .content-3 button:hover{
  background-color: #FFFFFF;
  color: #FFC239;
}

/* quote section */
.quote {
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: 24px 24px;
  border: 1px solid #F1F1F3;
  border-radius: 16px;
  background-color: #FFFFFF;
  /* padding: 0px; */
}

.quote-content {
  padding: 48px 24px;
}

.quote h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #0E0E0E;
  opacity: 80%;
  margin-top: 12px;
  margin-bottom: 4px;
}

/* Option matter */

.opinion-matter-header h5{
  font-size: 20px;
    font-weight: 600;
    color: #0E0E0E;
}

.option-header{
  display: flex;
  justify-content: space-between;
    padding: 24px;
    background-color: #C6E4D6;
    border: ipx solid rgba(14, 14, 14, 15%);
}

.question {
  margin-top: 24px;
  border-radius: 16px;
  padding: 32px;
  border: 1px solid #F1F1F3;
  background-color: #FFFFFF;
}

.question-table table{
  color: #0E0E0E;
  border: 1px solid rgba(14, 14, 14, 15%);
  border-collapse: collapse;
  width: 100%;
}

.question-table td,tr {
  border: 1px solid rgba(14, 14, 14, 15%);
  padding: 24px;

}

.question-table tr select {
  padding: 10px 14px;
  border-radius: 4px;
  background-color: #C6E4D6;
  color: #0E0E0E;
}

/* news */

.news p {
  padding: 24px 0;
}

.topic-news{
  
    display: flex;
    justify-content: space-between;
    border: 1px solid #F1F1F3;
    border-radius: 24px;
    padding: 48px;
    margin: 24px 0;
    gap: 32px;
    background-color: #FFFFFF;
}

.topic-news image-1{
  border-radius: 24px;
}

.topic-news h3{
  font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
    opacity: 80%;
}

.topic-news .content-news{
  padding: 12px 0;
}

.topic-news image-2{
  padding: 12px 0;
}

