
*{
          padding: 0px;
          margin: 0px;
 }

        body{
          font-family: "Fira Sans", serif;
            font-style: normal;
            background-color: #F1F1F3;
            
        }

        /* Banner  */


        .btn-primary{
          box-sizing: border-box;
        border: 1px solid rgb(0, 106, 80);
        border-radius: 3px;
        width: 80px;
        height: 40px;
        
        }
        nav{
             display: flex;
             align-items: center;
             justify-content: space-between;
             height: 10px;
             max-width: 1250px;
             margin: auto;
             padding: 24px 158px 24px 160px;
           
        }
        nav ul{
          display: flex;
        }
        
        .nav-title{
          font-weight: 700;
        font-size: 22px;
        }
        nav ul li{
                  list-style: none;
               
        }
        nav li a{
                  text-decoration: none;
                  
        }
        .parent{
          
                background-color: #C6E4D6;
                display: flex;
                gap: 60px;
                border-radius: 24px;
                justify-content: center;
                align-items: center;
                height: 430px;
                max-width: 1250px;
                margin: auto;
        
                
                
                
        }
        .banner{
          display: flex;
          align-items: center;
             justify-content: space-between;
             gap: 94px;
             
        }
       
        .banner-title{
          color: rgba(14, 14, 14, 0.5);
          font-family: Fira Sans;
          font-size: 20px;
          line-height: 29px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
        }
        
        .banner-desc{
          color: rgb(14, 14, 14);
        font-family: Fira Sans;
        font-size: 39px;
        font-weight: 800;
        text-align: left;
        height: 165px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        }
        
        .btn-secondary{
          border-radius: 8px;
          background: rgb(0, 106, 80);
          width: 190px;
        height: 36px;
        color: #FFFFFF;
        }

        /* Main Section */

        main {
          max-width: 1250px;
          margin: auto;
        }

      .total-h3{
        font-size: 30px;
        color: #0E0E0E;
        display: flex;
        align-items: start;
        }
        
        .total-p{
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          color: rgba(14, 14, 14, 70%);
          text-align: left;
        }

      .total-h6{
        font-size: 20px;
        font-weight: bold;
        color: #0E0E0E;
        opacity: 80%;
        margin-top: 24px;
      }

      .topic-of-pillars{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 33px;
        gap: 24px;
      
      }

      .content-of-pillar{
        border: 1px solid rgba(14, 14, 14, 15%);
      border-radius: 12px;
      background-color: #FFFFFF;
      padding: 10px;
      width: 300px;
      height: 244px;
      } 

      
/* future-vision */
.future-vision p {
  padding-top: 24px;
}

.future-vision-topic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin: 32px 0;
}

.future-vision-topic .content-1 {
  background-color: rgba(84, 144, 245, 20%);
  border-radius: 16px;
  padding: 33px;
}

.future-vision-topic .content-1 button {
  padding: 11px 20px;
  background-color: #5490F5;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  margin-top: 24px;
}

.future-vision-topic .content-1 button:hover{
  background-color: #FFFFFF;
  color: #5490F5;
}

.future-vision-topic .content-2 {
  background-color: #C6E4D6;
  border-radius: 16px;
  padding: 33px;
}

.future-vision-topic .content-2 button {
  padding: 11px 20px;
  background-color: #09A15C;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  margin-top: 24px;
}
.future-vision-topic .content-2 button:hover{
  background-color: #FFFFFF;
  color: #09A15C;
}

.future-vision-topic .content-3 {
  background-color: #F7EBCF;
  border-radius: 16px;
  padding: 33px;
}

.future-vision-topic .content-3 button {
  padding: 11px 20px;
  background-color: #FFC239;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  margin-top: 24px;
}
.future-vision-topic .content-3 button:hover{
  background-color: #FFFFFF;
  color: #FFC239;
}

/* quote section */
.quote {
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: 24px 24px;
  border: 1px solid #F1F1F3;
  border-radius: 16px;
  background-color: #FFFFFF;
  /* padding: 0px; */
}

.quote-content {
  padding: 48px 24px;
}

.quote h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #0E0E0E;
  opacity: 80%;
  margin-top: 12px;
  margin-bottom: 4px;
}

/* Option matter */

.opinion-matter-header h5{
  font-size: 20px;
    font-weight: 600;
    color: #0E0E0E;
}

.option-header{
  display: flex;
  justify-content: space-between;
    padding: 24px;
    background-color: #C6E4D6;
    border: ipx solid rgba(14, 14, 14, 15%);
}

.question {
  margin-top: 24px;
  border-radius: 16px;
  padding: 32px;
  border: 1px solid #F1F1F3;
  background-color: #FFFFFF;
}

.question-table table{
  color: #0E0E0E;
  border: 1px solid rgba(14, 14, 14, 15%);
  border-collapse: collapse;
  width: 100%;
}

.question-table td,tr {
  border: 1px solid rgba(14, 14, 14, 15%);
  padding: 24px;

}

.question-table tr select {
  padding: 10px 14px;
  border-radius: 4px;
  background-color: #C6E4D6;
  color: #0E0E0E;
}

/* news */

.news p {
  padding: 24px 0;
}

.topic-news{
  
    display: flex;
    justify-content: space-between;
    border: 1px solid #F1F1F3;
    border-radius: 24px;
    padding: 48px;
    margin: 24px 0;
    gap: 32px;
    background-color: #FFFFFF;
}

.topic-news .image-1{
  border-radius: 24px;
 
}

/* .topic-news .content-news .image-2{
  padding: 12px 0;
} */

.c2{
  border-radius: 24px;
}

topic-news h3{
  font-size: 92px;
  font-weight: 700;
  color: #0E0E0ECC;
}

.topic-news .content-news p{
  font-size: 16px;
  line-height: 24px;
  color: #0E0E0E;
}

.content-news button{
    padding: 13px 26px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
}


/* Donate-Section */

.donate .th3{
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.donate{
  text-align: center;
}

.donate p{
  font-size: 15px;
font-weight: 300;
line-height: 20px;
}

.donate-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 32px 0;
}

.donate-button button {
  padding: 40px;
  border: 1px solid rgba(14, 14, 14, 15%);
  font-size: 30px;
  font-weight: bold;
  border-radius: 16px;
  color: #0E0E0E;
  opacity: 80%;
  background-color: #FFFFFF;
}

.donate-button .b2{
  background-color: #C6E4D6;
}

.ammount{
    text-align: center;
    max-width: 1035px;
    margin: auto;
    background-color: #FFFFFF;  
}

.ammount input{
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
}

.ammount input[type="text"]{
  padding: 20px 0;
  text-align: center;
  font-size: 20px;
  width: 100%;
  color: #0E0E0E;
  opacity: 50%;
}

.done-now{
  text-align: center;
  margin:32px 0 ;
}


.done-now button{
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;
color: #FFFFFF;
background: rgb(0, 106, 80);
padding: 17px 34px;
font-size: 18px;
font-weight: 600;
}



/* newsletter */

.newsletter{
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 16px;
  background-color: #C6E4D6;
}


.newsletter .th3{
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.newsletter p{
  margin-top: 16px;
  margin-bottom: 24px;
  text-align: center;
}


.content-newsletter{
  text-align: center;
  padding: 80px 0;
}

.subscribe{
  max-width: 750px;
  position: relative;
  margin-bottom: 24px;
}


.subscribe input[type="email"]{
  width: 100%;
  padding: 18px 35px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 30%);
  border-radius: 15px 0 0 15px;
}

.subscribe input[type="button"]{
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  margin-right: -80px;
  padding: 18px 40px;
  background-color: #006A50;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 0 15px 15px 0 ;
}

/* footer-section */

footer{
  background-color: #FFFFFF;
}


.content-footer .th3{
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}


.content-footer{
  padding: 50px 160px;
  text-align: center;
  background: rgb(255, 255, 255);
  max-width: 1280px;
align-items: center;
margin: auto;
  
 
}

.content-footer img{
  margin: 24px 12px;
}

.content-footer .hr{
  border: 1px solid rgb(14, 14, 14);
  opacity: 1%;
} 

